


:root {
  --main-font: 'Satoshi', sans-serif;
  --title-font: 'Panchang', sans-serif;

  --color-white: rgba(194, 194, 194, 0.87);
  --color-black: rgba(7, 10, 19, 1); 
  /*#070A13*/



  --color-indigo: rgba(67, 56, 202, 1); 
  /*#4338ca*/
  --color-indigo-light: rgba(83, 91, 242, 1); 
  /*#535bf2*/


  --color-grey: #808F87;
  --color-orange: #DB7C26;




  --box-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;





  scroll-behavior: smooth;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ===============================
UTILITIES
=============================== */

.light {

  --color-black: rgba(255, 255, 255, 0.87);
  --color-white: rgba(36, 36, 36, 1); /*#242424*/


}


body {
  margin: 0;
  padding: 0;

  font-family: var(--main-font);
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-white);

  background-color: var(--color-black);

  
  box-sizing: border-box;

  transform-style: preserve-3d;


}

.container {
  margin: auto;
  max-width: 1500px;
  padding: 5em 1em;

}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: bold;
}

h1 {
  font-size: 3.2em;
  
}

h2 {
  font-size: 2.5em;
}

h3 {
  color: var(--color-indigo);
}


a {
  font-weight: 500;
  color: var(--color-indigo);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-indigo-light);
}

button {
  padding: 0.6em 1.2em;
  color: var(--color-black);

  border-radius: 1em;
  border: 0.2em solid var(--color-indigo);
  background-color: var(--color-white);
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: var(--color-indigo);
  color: var(--color-white)
}

button:focus,
button:focus-visible {
  outline: 0.2em auto -webkit-focus-ring-color;
}

ul {
  color: var(--color-indigo);
}

canvas {
  display: block;
}







/* ===============================
HEADER
=============================== */

#heading {
  position: relative;
  z-index: -1;
  text-align: center;

  display: flex;

  align-items: flex-start;
  justify-content: center;

  min-height: 85vh;

}

#heading h1 {
  
  font-size: 5em;
  padding: 0;
  margin: 0;

  color: rgba(255, 255, 255, 1);

}


header canvas {
  position: absolute;
  z-index: -1;

  transform: translateZ(20em);

}

header div[class="container"] {
  padding: 3em 0;
}


nav {
  gap: 1em;
  font-size: 1.1em;

}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  padding: 0;
  margin: 0;

  list-style-type: none;

}

.light {
  border: none;
  background-color: transparent;
}

.light:hover {
  background-color: transparent;

}


nav ul li svg {
  width: 1.5em;
  stroke: var(--color-indigo);
  fill: transparent;
}

nav ul li svg:hover {
  stroke: var(--color-indigo-light);
}

nav ul li a {
  font-size: 1.3em;
}



/* .lang_switcher {
  padding: 0;
  font-weight: 500;
  color: var(--color-indigo);

  background-color: transparent;
  border: none;
}

.lang_switcher:hover {
  color: var(--color-indigo-light);

  background-color: transparent;
  border: none;
} */


/* ======================Header responsive  */

@media screen and (min-width: 650px) {

  nav > ul {
    flex-direction: row;
  
  }


}

@media screen and (min-width: 1000px) {

  #heading {
    align-items: center;
   
  }

  
}


/* ===============================
MAIN
=============================== */

/* ======================Profile */

#profile {
  background-color: var(--color-indigo);

}

#profile > div {
  padding: 2em;
  text-align: center;

  color: rgba(194, 194, 194, 0.87);

}

#profile > div h2 {
  margin-top: 0;
  font-size: 1.5em;
 }

#profile > div p {
  width: 100%;
}

/* ======================Profile responsive */

@media screen and (min-width: 400px) {

 #profile article h2 {
  font-size: 2.5em;
 }


}

@media screen and (min-width: 650px) {

  #profile article p {
    width: 50%;
    margin: auto;
  }

}

/* ======================Projet */

#project > h2 {
  text-align: center;
}

.project {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}




.project > * {
  flex-basis: 45%;
}

.project div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;

  padding: 0;
  margin: 2em 0;
}

.project img {
  box-shadow: var(--box-shadow);

}

.project > img {
  width: 100%;
  display: none;
}
  

.project > img {
  width: 100%;
  display: none;
}

.project a img {
  width: 100%;
}

.project img[class="show"] {
  display: block;
}


.project img:hover {
  outline: 0.2em solid var(--color-indigo);
  cursor: pointer;
}


.modal {
  width: 80%;
  height: 80%;
  padding:0;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--color-black);
  
  border: 0.2em solid var(--color-indigo);

  transition: 0.5s;
}

.modal > button {
  border: none;
  background-color: rgba(83, 91, 242, 0.5);

}

.modalButtonR {
  position: absolute;
  right: 5%;
  top: 50%;

}

.modalButtonL {
  position: absolute;
  left: 5%;
  top: 50%;

}


/* ======================Project responsive  */

@media screen and (min-width: 450px) {

  .project div ul {
    flex-direction: row;
  }

  


}

@media screen and (min-width: 1200px) {

    .project {
      flex-direction: row;
    }

    #project article:nth-child(odd) {
      flex-direction: row-reverse;
    }
    

    .project img {
      width: 50%;
    }


  }
  



/* ======================Level designe */

#level_design > h2 {
  text-align: center;
}

#level_design > article div {
  width: 100%;
  /* text-align: center; */
  margin: auto;
}

#level_design > article div h3 {
  text-align: center;
}

/* ======================Accordeon */

.accordeon {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.accordeon-panel {
  padding: 0.1em 0;

  box-shadow: var(--box-shadow);
}

.button-accordeon {
  position: relative;
  isolation: isolate;
  z-index: 5;
  

  width: 100%;
  min-height: 20em;

  background: transparent;
  border-radius: 0;
  border: 0;
}

.button-accordeon:hover {
  outline: 0.2em solid var(--color-indigo);
}


.button-accordeon > h3 {
  position: absolute;
  bottom: 0;

  padding: 1em 2em;


  color: rgba(194, 194, 194, 0.87);
  
  
}

.button-accordeon > video {
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;

  
}


.accordeon-panel {
  position: relative;

  overflow: hidden;

  
}

.accordeon-content {
  position: absolute;
  z-index: -1;

  padding: 1em;

  margin-bottom: 5em;

  opacity: 0;




}



.active {
  position:initial;
  opacity: 1;

  transform: translateY(0);
    
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  0% {
      transform: translateY(-200px);
  }
  100% {
      transform: translateY(0);
  }
}

.button-active {
  min-height: 50em;
}


.content {
  width: 90%;
  margin: auto;
  padding: 2em 0;
}

.content h3 {
  text-align: center;
}

.content img {
  width: 100%;

  box-shadow: var(--box-shadow);
}


.gallery {
  --s: 5em; /* control the size */
  --g: 0.5em;  /* control the gap */
  --f: 5;   /* control the scale factor */

  width: 100%;
  margin: auto;

  grid-template-rows: repeat(1, auto) ;
  grid-template-columns: repeat(1,100%); 
}

.gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: var(--box-shadow);
}




/* ======================Level design responsive  */

@media screen and (min-width: 700px) {

  .gallery {

    display: grid;
    gap: var(--g);
    aspect-ratio: 2/1;
    grid-template-columns: repeat(2,auto);
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    cursor: pointer;
    transition: 0.5s;
  }

  .gallery img:hover{
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  
  }

}



@media screen and (min-width: 900px) {

  .content {
    width: 50%;
  }

}

@media screen and (min-width: 1000px) {

  .gallery {
    width: 90%;
    grid-template-columns: repeat(3,auto);
  }

  

}

@media screen and (min-width: 1200px) {

  #level_design > article div {
    width: 50%;
  }

  


}

/* ===============================
FOOTER
=============================== */

.contact_flex {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 2em;

  padding: 3em 0;

}

.contact_flex a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact_flex a svg {
  min-height: 4em;
}

/* ======================footer responsive  */

@media screen and (min-width: 400px) {

  .contact_flex {
    gap: 5em;
  
  
  }
}


